*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    
    height: 100vh;
    background-color: #f8f8f8;
    /* background: url(https://images.unsplash.com/photo-1485470733090-0aae1788d5af?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1517&q=80); */
    /* cursor: url("https://imgs.search.brave.com/I-h60nUYho-UXtOMDN5XtiXkl_LP0RH1zHUE7Ww3W2s/rs:fit:500:0:0/g:ce/aHR0cHM6Ly91cGxv/YWQud2lraW1lZGlh/Lm9yZy93aWtpcGVk/aWEvY29tbW9ucy90/aHVtYi9mL2ZkL09y/YW5nZV9mbGFnXzIu/c3ZnLzUxMnB4LU9y/YW5nZV9mbGFnXzIu/c3ZnLnBuZw") , auto; */

}
